@import "../../style/variable.scss";
.LabelledInput {
  padding: 1em 3em 0em 3em;
  &__Label {
    padding: 0.4em;
    font-weight: 600;
    font-style: italic;
  }
  &__Input{
    width: -webkit-fill-available;
    border: none;
  }
  &__Textarea {
    height: 30em;
    width: 50em;
    font-family: 'Open Sans', sans-serif;
    border: none;
    resize: none;
  }
}
@media #{$media-mobile} {
  .LabelledInput {
    &__Textarea {
      height: 20em;
      width: 18em;
    }
  }
}
