$mob-width:600px;
$primary-color: #e4ff5c;


// $tabcolor2: #5c77ff;
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 800px) and (min-width : 600px)";
$media-mobile: "only screen and (max-width : 600px)";