@import "../../style/variable.scss";
.EditDish {
  margin-bottom: 4em;
  text-align: center;
  
  &__Heading {
    text-align: center;
    padding-bottom: 1em;
  }
  &__Wrapper {
    display: flex;
    justify-content: center;
    background-color: white;

    &__Card {
      border-radius: 1em;
      padding: 0.5em;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0px 0px 5px #ccc;
      background-color: antiquewhite;
      &__Button {
        background-color: #c0b829;
        border: none;
        color: white;
        padding: 0.8em 1.5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2em;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        margin-top: 1em;
        &:hover {
          background-color: #827e32;
        }
      }
    }
  }
}


// @media #{$media-mobile} {
//   .EditDish {
//     background: none;
//     &__Heading {
//       margin: 19% 4% 10% 4%;
//       font-size: 2em;
//     }
//     &__Wrapper {
//       margin-top: 5%;
//       width: 100%;
//       flex-direction: column;
//       height: 90%;
//       flex-wrap: wrap;
//       flex-direction: row;
//     }
//     &__Item {
//       padding: 4px;
//       margin-right: 10px;
//       margin-left: 10px;
//       flex-basis: 18%;
//     }
//   }
// }
// .EditDish{
//     display: flex;
//     justify-content: center;

//     &__Card{
//         border: 1px solid #e6e6e6;
//         width: fit-content;
//         height: fit-content;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         &__Button{
//             margin:  1em;
//         }
//     }
// }
